body {
    font-family: Arial, sans-serif;
    background-color: black;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.form-group {
    margin-bottom: 20px;
    color: white;
}

label {
    font-weight: bold;
    display: block;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
}

.button-container {
    text-align: center;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}