body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000; 

.container {
    text-align: center;
}

.logo {
    max-width: 500px; 
    display: block;
    margin: 0 auto; 
}

.purple-button {
    background-color: #000000; 
    color: white;
    border: none;
    left: 60px;
    padding: 10px 30px; 
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 24px;
    cursor: pointer;
    border-radius: 30px; 
    transition: background-color 0.3s;
    margin-top: 150px; 
    margin: 0 auto; 
    letter-spacing: 8px;
}

.purple-button:hover {
    background-color: #000000; 
}
}